<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Server=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BankingSystem.mdf;Database=BankingSystem;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
	
	<system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
		
        <authentication mode="Forms">
            <forms loginUrl="Login.aspx" timeout="2880"/>
        </authentication>
		
        <authorization>
            <deny users="?"/>
        </authorization>
		
	</system.web>
	
    <location path="resources">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
	
    <location path="AccountsRecovery">
	    <system.web>
		    <authorization>
			    <allow users="*" />
		    </authorization>
	    </system.web>
    </location>

	<location path="CreateAccount">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Client">
		<system.web>
			<authorization>
				<allow roles="Client" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Teller">
		<system.web>
			<authorization>
				<allow roles="Teller" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Admin">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	
    <system.webServer>		
        <!--<staticContent>
            <mimeMap fileExtension=".css" mimeType="text/css" />
        </staticContent>-->
		
        <handlers>
            <remove name="BlockViewHandler"/>
            <remove name="ExtensionlessUrl-Integrated-4.0" />
        </handlers>		
    </system.webServer>
</configuration>
